html, body{
    padding: 20px;
    color:#c00ef7;
    background-color: #000;
    text-align:center; 
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#genre_dropdown {
    color:#c00ef7;
}

#filter {
    color:#0edcf7;
    border-radius: 8px;
    background-color: #c00ef7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#filter:hover {
    color:#c00ef7;
    border-radius: 8px;
    background-color: #0edcf7;
}



#raw_string, #all_songs {
    font: bold;
    padding: 10px;

}

#raw_string:hover{
    color:#0edcf7;
}

h1 {
    font-size: xx-large;
}

